.description{
		text-align:center;
	font-weight:bold;

	}
.font{ 
	font-weight:bold;
	font-family:times new roman;
	}
	.more{
	font-weight:bold;
	text-align:center;
	font-family:calibri;
	}
	.btn-info{
	font-weight:bold;
	padding:1%;
	background-color:indigo;
	border-radius:20%;
	}
	.btn-info:hover{
	color:black;
	background-color:white;
	width:60%;
	height:60%;
	}
	.newsec{
	margin:2%;
	color:Indigo;
	font-weight:bold;
	}
	.container{
	padding:2%;
	}
	.bground{
	background:LavenderBlush;
	}
	.footr{
	column-count:2;
	padding:6%;
	background:black;
	color:white;
	font-weight:bold;
	}
	.end{
	background:black;
	text-align:center;
	color:white;
	}
	#pic{
	border-radius:50%;
	}
	.bground2{
	background:Midnightblue;
	color:white;
	align-content:center;
	}
	.column{
	float:left;
	width:33%;
	padding:3%;
	}
	.column1{
	float:left;
	width:33%;
	padding:3%;
	}
	.column2{
	float:left;
	width:33%;
	padding:3%;
	}
	.carousel-inner{
height: 20%;
overflow: hidden;
width: 100%;
}
.carousel-inner img{
width: 100%;
}