 .logo-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
	position:relativee;
	margin-left:20%;
}
.navbar{

	display:block;
	position:relative;
}
#rell{
	width:relative;
}